.scrollable-container::-webkit-scrollbar-thumb {
  background: #ffffff !important;
}

.scrollable-container::-webkit-scrollbar-thumb:hover {
  background: #cccccc !important;
}

.scrollable-container {
  scrollbar-color: #ffffff #f1f1f1 !important;
}

@keyframes shimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0; 
  }
}

.shimmer {
  animation: shimmer 1.5s infinite linear;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  height: 20px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

