/* For Webkit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 10px; /* Adjust scrollbar width */
}

::-webkit-scrollbar-track {
  background: transparent; /* Optional: Change track background */
}

::-webkit-scrollbar-thumb {
  background: white; /* Scroll thumb color */
  border-radius: 5px; /* Optional: Roundness of the scroll thumb */
}

/* For Firefox */
* {
  scrollbar-width: thin; /* 'auto' or 'thin' */
  scrollbar-color: white transparent; /* thumb and track color */
}
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #ededed;
  border-radius: 5px;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #ededed transparent;
}
