:root {
  --rsbs-antigap-scale-y: 0;
  --rsbs-backdrop-bg: transparent;
  --rsbs-backdrop-opacity: 0;
  --rsbs-bg: rgb(26, 32, 44);
  --rsbs-content-opacity: 0.5;
  /* header */
  --rsbs-handle-bg: white;
  --rsbs-header-pt: 0px;

  --rsbs-overlay-h: 0px;
  /* --rsbs-overlay-rounded: 16px; */
  --rsbs-overlay-translate-y: 0px;

  /* small screen */
  --rsbs-ml: 12;
  --rsbs-mr: 12;

  /* largecreen */
  --rsbs-ml: auto;
  --rsbs-mr: auto;
}

div[data-rsbs-scroll="true"] {
  overflow-y: auto;
}

div[data-rsbs-content] {
  overflow: visible;
}

[data-rsbs-header="true"] {
  box-shadow: 0 0px 0 rgba(46, 59, 66, 0.1) !important;
  transition: height 0.3s ease; /* Smooth transition for height change */
  box-sizing: border-box;
  height: 0;
  width: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}

[data-rsbs-header]:before {
  height: 0;
  visibility: hidden; /* Makes the element not visible */
  opacity: 0; /* Ensures the element is fully transparent */
  content: none; /* Removes the content of the pseudo-element */
}

[data-rsbs-footer="true"] {
  box-shadow: 0 0px 0 rgba(46, 59, 66, 0.1) !important;
  padding: 0px 0px 0px 0px;
  margin: 0px 16px 16px 0px;
}
