:root {
  --rsbs-antigap-scale-y: 0;
  --rsbs-backdrop-bg: transparent;
  --rsbs-backdrop-opacity: 0;
  --rsbs-bg: black;
  --rsbs-content-opacity: 0.5;
  --rsbs-handle-bg: white;

  --rsbs-overlay-h: 0px;
  /* --rsbs-overlay-rounded: 16px; */
  --rsbs-overlay-translate-y: 0px;

  /* small screen */
  --rsbs-ml: 12;
  --rsbs-mr: 12;

  /* largecreen */
  --rsbs-ml: auto;
  --rsbs-mr: auto;
}
[data-rsbs-header="true"] {
  box-shadow: 0 0px 0 rgba(46, 59, 66, 0.1) !important;
}

[data-rsbs-footer="true"] {
  box-shadow: 0 -4px 0 transparent !important;
}